<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-white" routerLink="/task">Task Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link text-white" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <button *ngIf="!isOnNewTaskPage" class="btn btn-light me-2" routerLink="/tasks/new">Add Tasks</button>
          <button *ngIf="isOnNewTaskPage" class="btn btn-light me-2" (click)="goBack()">Back</button>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <button class="btn btn-danger" (click)="authService.logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- Main Content -->
<router-outlet></router-outlet>